section#about.about
  h3.about__title Dhrubok Infotech Services Ltd.
  address.about__address
    | Century Center (8th floor) Kha-225, Progoti
    br
    |           Avenue Merul Badda,
    br
    |           Dhaka-1212
    br
  a.about__link(href='tel:+8801790603121') +880 1790 603121
  a.about__link(href='mailto:Info@dhrubokinfotech.com') Info@dhrubokinfotech.com
  section.socials
    ul.socials__list
      li.socials__item
        a.socials__link(href='#')
          | facebook
          svg.socials__icon(width='15' height='15')
            use(xlink:href='#icon-facebook')
      li.socials__item
        a.socials__link(href='#')
          | google plus
          svg.socials__icon(width='20' height='20')
            use(xlink:href='#icon-google')
      li.socials__item
        a.socials__link(href='#')
          | instagram
          svg.socials__icon(width='15' height='15')
            use(xlink:href='#icon-insta')
      li.socials__item
        a.socials__link(href='#')
          | linkedin
          svg.socials__icon(width='15' height='15')
            use(xlink:href='#icon-linkedin')
      li.socials__item
        a.socials__link(href='#')
          | twitter
          svg.socials__icon(width='15' height='15')
            use(xlink:href='#icon-twitter')
