section#blog.blog
  .blog__container.container
    h2.blog__title.title Our blog
    p.blog__desc.desc Recommended Reading
    ul.blog__list
      li.blog__item
        h3.blog__heading Android 9 Pie : What&rsquo;s Exciting
        .blog__author
          figure.blog__pic
            picture
              source(type='image/webp' srcset='img/ava-4@1x.webp 1x, img/ava-4@2x.webp 2x')
              img.blog__avatar(src='img/ava-4@1x.png' srcset='img/ava-4@2x.png 2x' alt='Susan Herera' width='53' height='51')
          span.blog__name Fatema Akther
        p.blog__text
          | The world has become so fast paced that people don&rsquo;t want to stand by reading a page of information, they
      li.blog__item
        h3.blog__heading iOS 10 Release : What&rsquo;s New!
        .blog__author
          figure.blog__pic
            picture
              source(type='image/webp' srcset='img/ava-4@1x.webp 1x, img/ava-4@2x.webp 2x')
              img.blog__avatar(src='img/ava-4@1x.png' srcset='img/ava-4@2x.png 2x' alt='Susan Herera' width='53' height='51')
          span.blog__name Fatema Akther
        p.blog__text
          | The world has become so fast paced that people don&rsquo;t want to stand by reading a page of information, they
      li.blog__item
        h3.blog__heading Adobe XD Introducing Flinto
        .blog__author
          figure.blog__pic
            picture
              source(type='image/webp' srcset='img/ava-4@1x.webp 1x, img/ava-4@2x.webp 2x')
              img.blog__avatar(src='img/ava-4@1x.png' srcset='img/ava-4@2x.png 2x' alt='Susan Herera' width='53' height='51')
          span.blog__name Fatema Akther
        p.blog__text
          | The world has become so fast paced that people don&rsquo;t want to stand by reading a page of information, they
