section#case.case
  .case__container.container
    h2.case__title.title Case study
    p.case__desc.desc That&rsquo;s how we complete our work
    ul.case__list
      li.case__item.case__item--margin
        ul.case__categories
          li.case__category Mobile Apps Development
        h3.case__heading Credntia Case Study
        p.case__text
          | The world has become so fast paced that people don&rsquo;t want to stand by reading a page of information, they would much rather look at a presentation and
      li.case__item
        ul.case__categories
          li.case__category UI/UX Design
        h3.case__heading Gyru App Design
        p.case__text
          | The world has become so fast paced that people don&rsquo;t want to stand by reading a page of information, they would much rather look at a presentation and
