section#clients.clients
  .clients__container.container
    h2.clients__title.title Client list
    p.clients__desc.desc
      | Creating beautiful digital products engineered
      br.clients__break
      |  to drive growth for the world&rsquo;s leading brands.
    ul.clients__list
      li.clients__item
        figure.clients__pic
          picture
            source(type='image/webp' srcset='img/logo-foundmoto@1x.webp 1x, img/logo-foundmoto@2x.webp 2x')
            img.clients__img(src='img/logo-foundmoto@1x.jpg' srcset='img/logo-foundmoto@2x.jpg 2x' alt='Foundmoto' width='200' height='160')
      li.clients__item
        figure.clients__pic
          picture
            source(type='image/webp' srcset='img/logo-sparrow@1x.webp 1x, img/logo-sparrow@2x.webp 2x')
            img.clients__img(src='img/logo-sparrow@1x.jpg' srcset='img/logo-sparrow@2x.jpg 2x' alt='Sparrow' width='200' height='160')
      li.clients__item
        figure.clients__pic
          picture
            source(type='image/webp' srcset='img/logo-eagle@1x.webp 1x, img/logo-eagle@2x.webp 2x')
            img.clients__img(src='img/logo-eagle@1x.jpg' srcset='img/logo-eagle@2x.jpg 2x' alt='Eagle' width='200' height='160')
      li.clients__item
        figure.clients__pic
          picture
            source(type='image/webp' srcset='img/logo-china@1x.webp 1x, img/logo-china@2x.webp 2x')
            img.clients__img(src='img/logo-china@1x.jpg' srcset='img/logo-china@2x.jpg 2x' alt='China' width='200' height='160')
      li.clients__item
        figure.clients__pic
          picture
            source(type='image/webp' srcset='img/logo-juicy@1x.webp 1x, img/logo-juicy@2x.webp 2x')
            img.clients__img(src='img/logo-juicy@1x.jpg' srcset='img/logo-juicy@2x.jpg 2x' alt='Juicy' width='200' height='160')
      li.clients__item
        figure.clients__pic
          picture
            source(type='image/webp' srcset='img/logo-foundmoto@1x.webp 1x, img/logo-foundmoto@2x.webp 2x')
            img.clients__img(src='img/logo-foundmoto@1x.jpg' srcset='img/logo-foundmoto@2x.jpg 2x' alt='Foundmoto' width='200' height='160')
      li.clients__item
        figure.clients__pic
          picture
            source(type='image/webp' srcset='img/logo-sparrow@1x.webp 1x, img/logo-sparrow@2x.webp 2x')
            img.clients__img(src='img/logo-sparrow@1x.jpg' srcset='img/logo-sparrow@2x.jpg 2x' alt='Sparrow' width='200' height='160')
      li.clients__item
        figure.clients__pic
          picture
            source(type='image/webp' srcset='img/logo-eagle@1x.webp 1x, img/logo-eagle@2x.webp 2x')
            img.clients__img(src='img/logo-eagle@1x.jpg' srcset='img/logo-eagle@2x.jpg 2x' alt='Eagle' width='200' height='160')
      li.clients__item
        figure.clients__pic
          picture
            source(type='image/webp' srcset='img/logo-china@1x.webp 1x, img/logo-china@2x.webp 2x')
            img.clients__img(src='img/logo-china@1x.jpg' srcset='img/logo-china@2x.jpg 2x' alt='China' width='200' height='160')
      li.clients__item
        figure.clients__pic
          picture
            source(type='image/webp' srcset='img/logo-juicy@1x.webp 1x, img/logo-juicy@2x.webp 2x')
            img.clients__img(src='img/logo-juicy@1x.jpg' srcset='img/logo-juicy@2x.jpg 2x' alt='Juicy' width='200' height='160')
