header.page-header(role='banner')
  .page-header__inner
    a.page-header__link(href='/')
      img.page-header__logo(src='img/logo.svg' alt='Dhrubok' width='201' height='43')
    button.page-header__toggle(type='button' aria-label='Menu')
      span
      span
      span
    include main-nav
  include intro
