section.intro
  .intro__container.container
    h1.intro__title
      | Software Design &amp;
      br.intro__break
      |  Development
      br.intro__break
      | Company
    p.intro__desc
      | Creating beautiful digital products engineered to drive
      br.intro__break
      |  growth for the world&rsquo;s leading brands.
    a.intro__btn.btn(href='#') Our portfolio
