nav.main-nav.main-nav--closed(role='navigation')
  ul.main-nav__list
    li.main-nav__item
      a.main-nav__link(data-scroll='' href='#services')
        | Work
    li.main-nav__item
      a.main-nav__link(data-scroll='' href='#about')
        | About
    li.main-nav__item
      a.main-nav__link(data-scroll='' href='#case')
        | Case study
    li.main-nav__item
      a.main-nav__link(data-scroll='' href='#blog')
        | Blog
    li.main-nav__item
      a.main-nav__link(data-scroll='' href='#about')
        | Contact
    li.main-nav__item
      a.main-nav__link(data-scroll='' href='#about')
        | Contact
