footer.page-footer(role='contentinfo')
  .page-footer__container.container
    include about
    .page-footer__info.page-footer__info--margin
      h3.page-footer__title Our Services
      ul.page-footer__list
        li.page-footer__item
          a.page-footer__link(data-scroll='' href='#services') Mobile App Development
        li.page-footer__item
          a.page-footer__link(data-scroll='' href='#services') Web Application Development
        li.page-footer__item
          a.page-footer__link(data-scroll='' href='#services') UI/UX Design
        li.page-footer__item
          a.page-footer__link(data-scroll='' href='#services') Offshore Development Team
        li.page-footer__item
          a.page-footer__link(data-scroll='' href='#services') Software Development Partner
    .page-footer__info
      h3.page-footer__title About Office
      ul.page-footer__list
        li.page-footer__item
          a.page-footer__link(data-scroll='' href='#services') Company
        li.page-footer__item
          a.page-footer__link(data-scroll='' href='#testimonials') Portfolio
        li.page-footer__item
          a.page-footer__link(data-scroll='' href='#clients') Client stories
        li.page-footer__item
          a.page-footer__link(data-scroll='' href='#services') Career
