section#quote.quote
  .quote__container.container
    .quote__wrapper
      .quote__inner
        h3.quote__title Request a free quote
        p.quote__text
          | We will send you a precise calculation
          | in pdf formate
      a.quote__btn(href='#') Get a Free Quote
