section#services.services
  .services__container.container
    h2.services__title.title Our services
    p.services__desc.desc &quot;The world has become so fast paced that people don&rsquo;t&quot;
    ul.services__list
      li.services__item
        h3.services__service Mobile Apps Development
        p.services__text
          | The world has become so fast paced that people don&rsquo;t want to stand by reading a page of information, they would much
        a.services__btn.btn(href='#') Learn more
      li.services__item
        h3.services__service Website Design &amp; Development
        p.services__text
          | The world has become so fast paced that people don&rsquo;t want to stand by reading a page of information, they would much
        a.services__btn.btn(href='#') Learn more
      li.services__item
        h3.services__service UI/UX Design
        p.services__text
          | The world has become so fast paced that people don&rsquo;t want to stand by reading a page of information, they would much
        a.services__btn.btn(href='#') Learn more
      li.services__item
        h3.services__service Enterprise Software Development
        p.services__text
          | The world has become so fast paced that people don&rsquo;t want to stand by reading a page of information, they would much
        a.services__btn.btn(href='#') Learn more
