section#testimonials.testimonials
  .testimonials__container.container
    h2.testimonials__title.title Testimonials
    p.testimonials__desc.desc Here&rsquo;s what our customer&rsquo;s say
    ul.testimonials__list
      li.testimonials__item
        img.testimonials__img(src='img/logo-amc.svg' alt='AMC' width='114' height='60')
        p.testimonials__text
          | Donec facilisis tortor ut augue lacinia, at viverra est semper. Sed sapien metus, scelerisque nec pharetra id, tempor a tortor.
        figure.testimonials__pic
          picture
            source(type='image/webp' srcset='img/ava-1@1x.webp 1x, img/ava-1@2x.webp 2x')
            img.testimonials__avatar(src='img/ava-1@1x.png' srcset='img/ava-1@2x.png 2x' alt='Susan Herera' width='60' height='60')
        span.testimonials__name Susan Herrera
        span.testimonials__post Co-Founder, PHP Group
      li.testimonials__item
        img.testimonials__img(src='img/logo-cinemax.svg' alt='Cinemax' width='120' height='61')
        p.testimonials__text
          | Donec facilisis tortor ut augue lacinia, at viverra est semper. Sed sapien metus, scelerisque nec pharetra id, tempor a tortor.
        figure.testimonials__pic
          picture
            source(type='image/webp' srcset='img/ava-2@1x.webp 1x, img/ava-2@2x.webp 2x')
            img.testimonials__avatar(src='img/ava-2@1x.png' srcset='img/ava-2@2x.png 2x' alt='Susan Herera' width='60' height='60')
        span.testimonials__name Susan Herrera
        span.testimonials__post Co-Founder, PHP Group
      li.testimonials__item
        img.testimonials__img(src='img/logo-bros.svg' alt='Bros' width='60' height='61')
        p.testimonials__text
          | Donec facilisis tortor ut augue lacinia, at viverra est semper. Sed sapien metus, scelerisque nec pharetra id, tempor a tortor.
        figure.testimonials__pic
          picture
            source(type='image/webp' srcset='img/ava-3@1x.webp 1x, img/ava-3@2x.webp 2x')
            img.testimonials__avatar(src='img/ava-3@1x.png' srcset='img/ava-3@2x.png 2x' alt='Susan Herera' width='60' height='60')
        span.testimonials__name Susan Herrera
        span.testimonials__post Co-Founder, PHP Group
