@mixin container {
  width: 90.625%;
  margin: 0 auto;

  @media (min-width: $screen-sm) {
    width: 92.1875%;
  }

  @media (min-width: $screen-md) {
    width: 85.5172414%;
  }

  @media (min-width: $screen-lg) {
    width: 85.27%;
  }
}

@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
