$screen-xs: 480px;
$screen-sm: 660px;
$screen-md: 992px;
$screen-lg: 1300px;
$screen-xl: 1400px;

$color-base: #1c45a4;
$color-text: #292929;
$color-action: #24d39b;
$color-background: #f7f8fa;
$color-link: #ffffff;
$color-background--second: #f3f6fa;
$color-text--second: #000000;
$color-heading: #12203c;
$color-footer: #f7f7f7;
$font-family--serif: "PT Serif", Arial, serif;
$font-family--sans-serif: "Circular Std", Arial, sans-serif;

