.about {
  margin-bottom: 15px;

  &__title {
    margin: 0;
    margin-bottom: 25px;

    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    font-family: $font-family--sans-serif;
    color: $color-heading;
  }

  &__address {
    margin-bottom: 15px;

    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    font-family: $font-family--sans-serif;
    color: #86939e;
    font-style: normal;
  }

  &__link {
    display: block;
    margin-bottom: 15px;

    font-weight: 300;
    font-size: 14px;
    line-height: 25px;
    font-family: $font-family--sans-serif;
    color: #86939e;

    &:hover,
    &:focus {
      color: #000000;
      text-decoration: underline;
    }

    &:active {
      opacity: 0.8;
    }
  }

  @media (min-width: $screen-xl) {
    margin-right: auto;
  }
}
