.btn {
  display: block;
  box-sizing: border-box;
  width: 200px;
  padding: 16px 0;

  font-size: 15px;
  font-family: $font-family--sans-serif;
  text-align: center;
  color: $color-link;
  text-transform: uppercase;

  background-color: $color-action;
  border-radius: 27px;

  transition: box-shadow 0.3s ease-in-out;

  user-select: none;

  &:hover,
  &:focus {
    box-shadow: 0 20px 30px rgba(37, 15, 138, 0.2);

    transition: box-shadow 0.3s ease-in-out;
  }

  &:active {
    opacity: 0.7;
  }
}
