.case {
  padding-top: 40px;
  padding-bottom: 40px;

  &__title {
    text-align: center;
  }

  &__desc {
    margin-bottom: 50px;

    text-align: center;
  }

  &__item {
    box-sizing: border-box;
    max-width: 572px;
    margin: 0 auto;
    margin-bottom: 30px;
    padding: 0 40px 35px;
    padding-top: 285px;

    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: top;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);

    &:first-child {
      background-image: url("../img/case-1@1x.jpg");
      @supports (background: -webkit-image-set(url("../img/case-1@1x.webp") 1x)) {
        background-image: url("../img/case-1@1x.webp");
      }

      @media
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi) {
        background-image: url("../img/case-1@2x.jpg");
        background-size: 572px 253px;
        @supports (background: -webkit-image-set(url("../img/case-1@2x.webp") 2x)) {
          background-image: url("../img/case-1@2x.webp");
        }
      }
    }

    &:last-child {
      margin-bottom: 0;

      background-image: url("../img/case-2@1x.jpg");
      @supports (background: -webkit-image-set(url("../img/case-2@1x.webp") 1x)) {
        background-image: url("../img/case-2@1x.webp");
      }

      @media
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi) {
        background-image: url("../img/case-2@2x.jpg");
        background-size: 572px 253px;

        @supports (background: -webkit-image-set(url("../img/case-2@2x.webp") 2x)) {
          background-image: url("../img/case-2@2x.webp");
        }
      }
    }
  }

  &__category {
    display: inline-block;
    padding-top: 4px;
    padding-right: 18px;
    padding-bottom: 4px;
    padding-left: 18px;

    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    font-family: $font-family--sans-serif;
    color: $color-action;
    text-transform: capitalize;

    background-color: rgba(36,211,67, 0.1);
    border-radius: 100px;
  }

  &__heading {
    font-weight: 700;
    font-size: 23px;
    line-height: 24px;
    font-family: $font-family--sans-serif;
    color: $color-heading;
  }

  &__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: $color-heading;

    opacity: 0.8;
  }

  @media (min-width: $screen-md) {
    padding-top: 88px;
    padding-bottom: 88px;

    &__item {
      width: 412px;
      margin: 0;
    }

    &__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  @media (min-width: $screen-lg) {
    &__item {
      width: 550px;
    }
  }

  @media (min-width: $screen-xl) {
    &__list {
      justify-content: center;
    }

    &__item {
      width: 572px;

      &--margin {
        margin-right: 16px;
      }
    }

    &__heading {
      margin-top: 18px;
      margin-bottom: 30px;
    }

    &__text {
      font-size: 20px;
    }
  }
}
