.desc {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  font-family: $font-family--sans-serif;
  color: $color-text;

  @media (min-width: $screen-md) {
    font-size: 30px;
    line-height: 40px;
  }
}
