.intro {
  margin-top: 20px;
  padding-bottom: 270px;

  background-image: url("../img/intro-people.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100% 50%;

  &__title {
    position: relative;

    margin: 0;
    margin-bottom: 40px;

    font-weight: 900;
    font-family: $font-family--sans-serif;
    color: $color-base;

    &::after {
      content: "";
      position: absolute;
      bottom: -20px;
      left: 0;

      display: block;
      width: 100px;
      height: 3px;

      background-color: $color-action;
    }
  }

  &__desc {
    margin-bottom: 24px;

    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: $color-text;

    opacity: 0.8;
  }

  @media (min-width: $screen-xs) {
    padding-bottom: 300px;
  }

  @media (min-width: $screen-md) {
    padding-bottom: 190px;

    background-image: url("../img/intro-people.svg"), url("../img/intro-decor.svg");
    background-position: 100% 40%, left bottom;
    background-size: 45% 50%, 664px 151px;

    &__title {
      margin-bottom: 62px;

      font-size: 65px;
      line-height: 70px;

      &::after {
        bottom: -25px;
      }
    }

    &__desc {
      margin-bottom: 34px;
    }
  }

  @media (min-width: $screen-lg) {
    padding-bottom: 230px;

    background-position: 90% 52%, left 470px;
    background-size: 601px 335px, 864px 151px;
  }
}
