.main-nav {
  position: absolute;
  top: 83px;
  left: 0;
  z-index: 10;

  width: 100%;

  background: $color-base;

  &--closed {
    transform: scaleY(0);
    transform-origin: top;

    transition: transform 0.3s ease-in-out;
  }

  &--opened {
    transform: scaleY(1);
    transform-origin: top;

    transition: transform 0.3s ease-in-out;
  }

  &__link {
    display: block;
    padding: 10px 0;

    font-weight: 500;
    font-size: 20px;
    line-height: 42px;
    font-family: $font-family--sans-serif;
    text-align: center;
    text-transform: uppercase;

    &:hover,
    &:focus {
      color: $color-action;
    }

    &:active {
      opacity: 0.6;
    }
  }

  @media (min-width: $screen-md) {
    position: static;
    top: auto;
    left: auto;

    width: auto;

    background: transparent;

    &--closed {
      transform: none;
    }

    &__list {
      display: flex;
    }

    &__item {
      margin: 0 10px;
    }

    &__link {
      color: $color-base;
    }
  }

  @media (min-width: $screen-lg) {
    &__link {
      font-weight: 600;
      font-size: 15px;
      line-height: 24px;
      color: #ffffff;
    }

    &__item {
      margin: 0 20px;
    }
  }
}
