.quote {
  margin-bottom: 100px;

  &__container {
    background-color: $color-base;
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 40px;
  }

  &__title {
    margin: 0;
    margin-bottom: 15px;

    font-size: 25px;
    line-height: 22px;
    font-family: $font-family--sans-serif;
    color: #ffffff;
  }

  &__text {
    max-width: 310px;

    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    font-family: $font-family--sans-serif;
    color: rgba(255, 255, 255, 0.8);
  }

  &__btn {
    display: block;
    box-sizing: border-box;
    max-width: 196px;
    margin-top: 15px;
    padding: 10px 25px;

    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    font-family: $font-family--sans-serif;
    color: $color-text;

    background-color: #ffffff;

    transition: all 0.3s ease-in-out;

    user-select: none;

    &:hover,
    &:focus {
      color: #ffffff;

      background-color: $color-action;

      transition: all 0.3s ease-in-out;
    }

    &:active {
      opacity: 0.8;
    }
  }

  @media (min-width: $screen-xl) {
    &__container {
      width: 80%;
    }

    &__wrapper {
      align-items: flex-start;
      max-width: 780px;
      margin: 0 auto;
      padding-top: 60px;
      padding-bottom: 60px;
    }
  }
}
