.title {
  margin: 0;
  margin-bottom: 10px;

  font-weight: 900;
  font-size: 16px;
  line-height: 30px;
  font-family: $font-family--sans-serif;
  color: $color-action;
  text-transform: uppercase;

  @media (min-width: $screen-md) {
    margin-bottom: 10px;

    font-size: 20px;
  }
}
