.main-nav {
  top: 83px;
  left: 0;
  width: 100%;
  position: absolute;
  background: @color-base;
  z-index: 10;

  &--closed {
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.3s ease-in-out;
  }

  &--opened {
    transform-origin: top;
    transform: scaleY(1);
    transition: transform 0.3s ease-in-out;
  }

  &__link {
    display: block;
    padding: 10px 0;
    font-family: "Circular Std", Arial, serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 42px;
    text-transform: uppercase;
    text-align: center;

    &:hover,
    &:focus {
      color: @color-action;
    }

    &:active {
      opacity: 0.6;
    }
  }

  @media @screen-md {
    position: static;
    top: auto;
    left: auto;
    width: auto;
    background: transparent;

    &--closed {
      transform: none;
    }

    &__list {
      display: flex;
    }

    &__item {
      margin: 0 10px;
    }

    &__link {
      color: @color-base;
    }
  }

  @media @screen-lg {
    &__link {
      color: #ffffff;
      font-weight: 600;
      font-size: 15px;
      line-height: 24px;
    }

    &__item {
      margin: 0 20px;
    }
  }
}
