@screen-xs: ~"(min-width : 480px)";
@screen-sm: ~"(min-width : 660px)";
@screen-lg: ~"(min-width: 1200px)";

@color-base: #1c45a4;
@color-text: #292929;
@color-action: #24d39b;
@color-background: #f7f8fa;
@color-link: #ffffff;
@color-background--second: #f3f6fa;
@color-text--second: #000000;
@color-heading: #12203c;
@color-footer: #f7f7f7;

